In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('datasets/sberbank-russian-housing-market/train.csv')
df

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,30469,2015-06-30,44,27.0,7.0,9.0,1.0,1975.0,2.0,6.0,...,15,5,0,15,26,1,2,84,6,7400000
30467,30470,2015-06-30,86,59.0,3.0,9.0,2.0,1935.0,4.0,10.0,...,313,128,24,98,182,1,82,171,15,25000000
30468,30471,2015-06-30,45,NaN,10.0,20.0,1.0,NaN,1.0,1.0,...,1,1,0,2,12,0,1,11,1,6970959
30469,30472,2015-06-30,64,32.0,5.0,15.0,1.0,2003.0,2.0,11.0,...,22,1,1,6,31,1,4,65,7,13500000
30470,30473,2015-06-30,43,28.0,1.0,9.0,1.0,1968.0,2.0,6.0,...,5,2,0,7,16,0,9,54,10,5600000

In [19]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
X = iris.iloc[:, :-2].values
y = iris.iloc[:, 3].values

In [20]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
y_pred = regressor.predict(X)
y_pred

array([0.2162519 , 0.14629084, 0.17990145, 0.28316183, 0.25926136,
       0.40042843, 0.29760208, 0.26710396, 0.22764102, 0.22098201,
       0.2510461 , 0.36096549, 0.16701745, 0.11342555, 0.0777633 ,
       0.34484626, 0.19079518, 0.2162519 , 0.31596575, 0.33550877,
       0.28901416, 0.31322592, 0.13253454, 0.32891112, 0.51819042,
       0.23038086, 0.31951227, 0.2479336 , 0.17324244, 0.33712639,
       0.29411693, 0.18419753, 0.38163073, 0.28932545, 0.22098201,
       0.06531332, 0.08093716, 0.27998797, 0.19751557, 0.24637736,
       0.18457019, 0.02080898, 0.24208128, 0.34179513, 0.54514202,
       0.16701745, 0.38791709, 0.25303637, 0.2717727 , 0.1924128 ,
       1.48507207, 1.5046151 , 1.58833245, 1.22856732, 1.44716538,
       1.56056993, 1.65244118, 1.00835163, 1.44872163, 1.32747024,
       1.00331023, 1.40645749, 1.10265142, 1.60476298, 1.13190459,
       1.36774411, 1.62586225, 1.30792722, 1.32323977, 1.19999811,
       1.76547307, 1.21562194, 1.57899497, 1.58248012, 1.33294991,
       1.36618786, 1.48980218, 1.65991112, 1.52067296, 0.99192111,
       1.14603355, 1.09362524, 1.2031106 , 1.79055712, 1.66731546,
       1.63208723, 1.52496904, 1.2723877 , 1.416229  , 1.27313302,
       1.50504912, 1.57463752, 1.23323606, 0.96534217, 1.40178875,
       1.4479107 , 1.42562785, 1.37440312, 0.83195634, 1.35093668,
       2.33374923, 1.83201034, 2.0486795 , 2.03498457, 2.12063083,
       2.31190464, 1.65953423, 2.19457667, 1.96776334, 2.26646664,
       1.79833836, 1.81246732, 1.90122607, 1.75576292, 1.85429319,
       1.92388159, 1.96340589, 2.52184918, 2.35927155, 1.62673454,
       2.0298818 , 1.79092978, 2.29902063, 1.62356068, 2.09361787,
       2.12492691, 1.61416183, 1.73186245, 1.9919751 , 1.97554458,
       2.04675059, 2.32317103, 1.9919751 , 1.75066015, 2.00958922,
       2.02913647, 2.14639884, 2.00641536, 1.70018075, 1.85037401,
       1.99664385, 1.69314907, 1.83201034, 2.15542503, 2.09361787,
       1.76472775, 1.63140328, 1.80618096, 2.06230882, 1.87813229])